<app-nav></app-nav>

<!-- <div *ngFor="let dateKey of getGroupedTransactionKeys()">
  <h2>{{ dateKey }}</h2>
  <div *ngFor="let transaction of groupedTransactions[dateKey]">
    <p>{{ transaction.amount }} Ft - {{ transaction.category?.label }}</p>
  </div>
</div> -->


<div class="padding-s2" *ngIf="appService.groupedTransactions; else noItems">
  <div class="test1" *ngFor="let dateKey of getGroupedTransactionKeys()">
    <div class="expediture-headline">{{ dateKey | date:'yyyy.MM.dd' }}</div>
    <hr>
    <div class="expediture-card" *ngFor="let transaction of appService.groupedTransactions[dateKey]">
      <div class="expediture-card-icon">
        <img [src]='transaction.category!.img'>
        <p>{{ transaction.category!.label }}</p>
      </div>

      <div class="expediture-action">
        <p> {{ transaction.amount }} Ft </p>
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="deleteTransaction(transaction)" mat-menu-item>Delete</button>
          <button (click)="navigate(transaction)" mat-menu-item>Details</button>
        </mat-menu>
      </div>
    </div>
  </div>
</div>

<ng-template #noItems>
  <h3>There are no items of list</h3>
  <hr>
</ng-template>

<app-add-expenditure></app-add-expenditure>
