:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.form-control {
    display: flex;
}

.form-footer {
    display: flex;
    justify-content: space-between;
}