.details_dialog {

  &__content {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "add   com"
      "test  test";

    &-area--add {
      grid-area: add;
    }

    &-area--com {
      grid-area: com;
    }

    &-area--test {
      grid-area: test;
    }
  }
}
