<button class="side-nav-close" mat-fab color="" (click)="toggleSideNav()">
    <mat-icon>view_headline</mat-icon>
</button>

<div [ngClass]="{'overlay': isSideNavOpen}" (click)="closeSideNav()"></div>

<div class="side-nav" [ngClass]="{'open': isSideNavOpen}">
    <button class="close-button" mat-fab (click)="closeSideNav()">
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>

    <div class="nav-left">
        <div *ngIf="authService.userData as user; else noUser">
            <h1>Hello {{ user.displayName}}!</h1>
            <h3>{{ user.email }}</h3>
        </div>
    </div>
    <hr>
    <ul>
        <li (click)="navigateToHome()">Home</li>
        <li (click)="navigateToCategory()">Category</li>
        <li (click)="logout()">Logout</li>
    </ul>
</div>

<ng-template #noUser>
    <h1>No user</h1>
    <h3>No email</h3>
</ng-template>
