<app-nav></app-nav>

<div class="category-head">
  <h2>Category</h2>
</div>

<div class="category-body">

  <mat-form-field class="full-width">
    <mat-label>Category</mat-label>
    <input matInput type="text" [(ngModel)]="categoryLabel">
  </mat-form-field>
  <div class="category-icon-list">
    <ng-container *ngFor="let image of imageSources">
      <img [class.selectIcon]="image.selected" [src]="image.path" (click)="select(image.path)">
    </ng-container>
  </div>

  <button (click)="updateInputValue()">Add</button>

  <div class="category-section">
    <h2>Your Categoryes:</h2>
  </div>

  <div class="category-icons">
    <div *ngFor="let category of categorysFormFirebase" class="category-icon">
      <img src="{{ category.img }}">
      <p>{{ category.label }}</p>
    </div>
  </div>
</div>
