.nummeric_keypaad {
  width: 450px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.keypad_input {
  width: 300px;
  height: 32px;
  margin: 32px 0 32px;
}

.number-btn {
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-radius: 16px;

  p {
    margin: 0;
  }
}

.keypad {
  width: 100%;

  p {
    vertical-align: middle;
  }

  &_container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "n1   n2   n3"
      "n4   n5   n6"
      "n7   n8   n9"
      ".    n0   ndel";

    &-n0 {
      grid-area: n0;
    }

    &-n1 {
      grid-area: n1;
    }

    &-n2 {
      grid-area: n2;
    }

    &-n3 {
      grid-area: n3;
    }

    &-n4 {
      grid-area: n4;
    }

    &-n5 {
      grid-area: n5;
    }

    &-n6 {
      grid-area: n6;
    }

    &-n7 {
      grid-area: n7;
    }

    &-n8 {
      grid-area: n8;
    }

    &-n9 {
      grid-area: n9;
    }

    &-ndel {
      grid-area: ndel;
    }
  }
}

@media (max-width: 450px) {
  .nummeric_keypaad {
    width: 100%;
  }
}
