<div class="expediture">
    <div class="expediture-head">
        <h2>Expediture</h2>
    </div>

    <div class="expediture-body">
        <p class="expediture-body-date">{{ transaction?.date | date:'yyyy.MM.dd' }}</p>
        <p class="expediture-body-category">{{ transaction?.category?.label }}</p>
        <p class="expediture-body-amount">{{ transaction?.amount }} Ft</p>
    </div>


    <div class="expediture-buttons">
        <button mat-fab color="" (click)="editExpediture()">
            <mat-icon>border_color</mat-icon>
        </button>
        <button mat-fab color="" (click)="deleteExpediture()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>